.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  height: 100px;
  background-color: #2c343e;
  margin-top: 200px;
}
.site-footer__list {
  margin-right: auto;
}
.site-footer__link:hover {
  color: #fefcf7;
}
.site-footer__img {
  margin-left: 85px;
  position: absolute;
  z-index: 1;
}
.site-footer__nav {
  position: relative;
}
.site-footer__social-list {
  display: flex;
}
.site-footer__social-list-item {
  margin-right: 19px;
}
@media only screen and (max-width:$tablet) {
  
}